body   {  margin: 0;  padding: 0;  }
body * {  font-family: Arial, Helvetica, sans-serif;  }

@media (min-width: 768px) {
  #wd-kambaz .wd-main-content-offset {
    padding-left: 140px !important;
  }
}

#wd-kambaz-navigation .list-group-item {
  background-color: black;
  color: white;
}

#wd-kambaz-navigation .list-group-item.active {
  background-color: white;
  color: red;
}

#wd-courses-navigation .list-group-item {
  background-color: white;
  color: red;
}

#wd-courses-navigation .list-group-item.active {
  background-color: white;
  color: black;
}

.list-group.wd > .list-group-item.active {
  color: black;
  background-color: white;
  border-left: 3px solid black !important;
}

.btn-secondary {
  --bs-btn-color: #000 !important;
  --bs-btn-bg: #c7cdd1 !important;
  --bs-btn-border-color: #c7cdd1 !important;
  --bs-btn-hover-color: #fff !important;
}
.bg-secondary {
  --bs-secondary-rgb: 199, 205, 209;
}
.list-group-item {
  --bs-list-group-border-color: gray;
}
.wd-lesson {
  border-left: 3px solid green !important;
}

/* Piazza Home Page Styling */

.wd-border-piazza-nav-bar {
  border-radius: 0px;
  height: 55px;
  background-color: #007BB5;
  color: white;
  border: 1px solid gray;
 }

 .wd-font-family {
  font-family: 'Roboto', sans-serif;
 }

 .wd-logo-height {
  margin-top: 18px;
  padding-left: 15px;
 }

.wd-q-a {
  position:absolute;
  left: 53%;
  color: white;
  text-decoration: underline;
}

.wd-nav-height {
  margin-top: 18px;
}

.wd-hw-folder-nav-bar {
  border-radius: 0%;
  height: 30px;
  background-color: #E6E6EA;
  color: gray;
  border: 1px solid lightgrey;

}


.wd-hw-height {
  margin-top: 4px;
  padding-left: 15px;
 }

.wd-right-page-bg {
border-radius: 0%;
border-color: #F1F1F4;
background-color: #F6F6F9;
padding-left: 20px;
width: 60%;
margin: auto;
margin-right: 0%;
height: 100vh;
border: 1px solid lightgrey;

}

.wd-class-glance {
border-radius: 5px;
background-color: #fff;
height: 200px;
width: 97%;
margin: auto;
margin-top: 3px;
margin-right:25px;
border: 1px solid lightgrey;
}

#wd-button-dashboard {
background-color: #dc3545;
color: white;
border-color: darkred;
}

.wd-padding-left-class {
padding-left: 15px;
}

.wd-post-stats {
margin-top: 10px;
padding-left: 10px;
display:flex;
align-items: center;
gap:5px;
}


.wd-new-post-button {
  border-radius: 5px;
  background-color: #007BB5;
  color: white;
  border-color: #007BB5;
}

.wd-post-type {
  border-radius: 0%;
  background-color: white;
  padding-left: 20px;
  width: 60%;
  margin: auto;
  margin-right: 0%;
  height: 130px;
  
  }

  .wd-text-grey {
    color: rgb(91, 91, 91);
    margin-top: 5px;
    margin-right: 2px;
  }

  .wd-font-bold {
    font-weight: bold;
  }

.wd-question-border {
  border-radius: 0%;
   border: 1px solid blue;
   width:67.5vh;
}

.wd-highlight-border {
  border: 2px solid rgb(215, 228, 235);
  background-color: rgb(215, 228, 235);
  padding: 5px;
  border-radius: 5px;
  width: 59vh;
}

.wd-border-none {
  border: none;
}

.wd-dark-grey {
  font-size: 14px;
  color: #333333;
}

.wd-post-to {
  border-radius: 0%;
  background-color: rgb(242, 242, 243);
  padding-left: 20px;
  width: 60%;
  margin: auto;
  margin-right: 0%;
  height: 100vh;
  
}

input[type="radio"]:checked {
  background-color: #035b84;
  color: #fff;
}

input[type="radio"]:focus {
outline: 2pz solid white;
outline-offset: white;
}

input[type="radio"] {
  accent-color: #fff;
}


.wd-checkbox-custom {
  display: grid;
  grid-template-columns: repeat(6,1fr);
  grid-gap: 7px;
  position:relative;
  column-gap: 1px;
  max-width: 900px;
  width:100%;
  box-sizing: border-box;
}




@media (max-width: 768px) {
  .wd-checkbox-custom {
    grid-template-columns: repeat(3,1fr);
  }
}

@media (max-width: 480px) {
  .wd-checkbox-custom {
    grid-template-columns: repeat(2, 1fr);
  }
}


.wd-checkbox-custom input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;

}


.wd-checkbox-custom input[type="checkbox"] + label {
  position: relative;
  align-items: center;
  justify-content: center;
  display: flex;
  font-size: 14px;
  cursor: pointer;
  padding-left:7px;
  border-color: rgb(215, 228, 235);
  background-color: rgb(215, 228, 235);
  width: 40px;
  height: 30px;
  padding-left: 2px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  border-radius: 5px;
  color:#333333;
  font-weight: 550;
  z-index: 1;
  box-sizing: border-box;

}


.wd-checkbox-custom input[type="checkbox"] + label::before {
  content: ' ';
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
  height: 30px;
  border-radius: 5px;
  border: 3px solid rgb(215, 228, 235);
}

.wd-checkbox-custom input[type="checkbox"]:checked + label::before {
  
  border-color: #035b84;
}



.wd-checkbox-custom input[type="checkbox"]:hover + label::before {
  border-color:#035b84;
}


.wd-new-post2 {
  width:100%;
  margin: 0 auto;
}

.wd-textbox input {
  width: 80%;
  box-sizing: border-box;
}

.custom-editor .ql-container {
    min-height: 200px;
    max-height: 400px;
    overflow-y: auto;
    background-color: #fff;
    color: #333333;
}

.custom-editor .ql-editor {
    background-color: #fff;
    color: #333333;

}

.wd-rotated-asterick {
  left: -2px;
  font-size: 30ox;
  position: relative;
  top: -2px;
}

.wd-new-post-padding {
  padding: 3px 30px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-size: 14px;
}

.wd-cancel-button {
  border-radius: 5px;
  background-color: white;
  color: #333333;
  border-color: whitesmoke;
}